<script>
$(document).ready(function(e) {
  $("#app-container").resize(function () {
    console.log("hsfgids");
    $('#sidebar').css('height', $('#app-container').innerHeight());
  });
});
</script>

<header>
  <nav class='group'>
    <h1 class='header-logo'>Journal App</h1>
    <ul class='header-list group'>
      <li><a href='#/posts/new'>New Post</a></li>
    </ul>
  </nav>
</header>

<div id='app-container'>
  <section id='sidebar'></section>
  <section id='content'></section>
</div>

<footer>
  <small class='footer-copy'>Copyright 2014</small>
</footer>

<style>
  body, header, footer, h1, h2, div, ul, li, p, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: lucida grande;
    list-style: none;
  }

  input {
    margin: 10px 0;
    outline-color: #5882FA;
  }

  textarea {
    margin: 10px 0;
    outline-color: #5882FA;
  }

  button:hover {
    cursor: pointer;
    background: #588FFF;
  }

  button:active {
    background: #588FFF;
    border: none;
    -moz-box-shadow: inset 0 0 3px 3px #5882FA, 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 0 3px 3px #5882FA, 0 1px 0 0 #fff;
    text-shadow: 0 -1px 1px #5882FA;
  }

  nav {
    border-bottom: 5px solid black;
    color: white;
    background: #5882FA;
    padding: 5px;
    width: 100%;
    display: block;
  }

  nav > h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  footer {
    padding: 5px;
    border-top: 5px solid black;
  }

  a {
    text-decoration: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  nav > h1 {
    float: left;
  }

  nav > ul {
    float: right;
  }

  nav > ul > li {
    border-left: 1px solid black;
    float: left;
    display: block;
  }

  nav > ul > li > a {
    padding: 10px;
    display: block;
    color: white;
  }

  nav > ul > li > a:hover {
    background: #588FFF;
  }

  #app-container {
    position: relative;
  }

  #app-container:after {
    content: "";
    display: block;
    clear: both;
  }

  #sidebar {
    padding: 10px;
    width: 200px;
    float: left;
    display: block;
    border-right: 5px solid black;
    height: 500px;
    overflow: auto;
  }

  #content {
    padding: 10px 0 0 30px;
    max-height: 500px;
    overflow: auto;
  }

  .header-logo {
    margin-left: 5px;
  }

  .footer-copy {
    float: right;
  }

  .new-button {
    margin: 5px 0 10px 0;
    padding: 10px;
    background: #5882FA;
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
  }

  .delete-button {
    margin: 0 5px 5px 0;
    padding: 5px;
    background: #5882FA;
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
    float: right;
    display: block;
  }

  .post-link {
    font-size: 15px;
    color: #5882FA;
    width: 100px;
    padding: 5px 0;
  }

  .post-link:hover {
    color: #588FFF;
  }

  .error-li {
    color: red;
    font-size: 15px;
    margin: 0 0 10px 0;
  }

  .created-date {
    font-style: italic;
  }
</style>