<header>
  <nav class='group'>
    <h1 class='header-logo'>Journal App</h1>
    <ul class='header-list group'>
      <li><a href='#/posts/new'>New Post</a></li>
    </ul>
  </nav>
</header>

<div id='app-container'>
  <section id='sidebar'></section>
  <section id='content'></section>
</div>

<footer>
  <small class='footer-copy'>Copyright 2014</small>
</footer>

<style>
  body, header, footer, h1, h2, div, ul, li {
    margin: 0;
    padding: 0;
    font-family: lucida grande;
    list-style: none;
  }

  nav {
    border-bottom: 5px solid black;
    color: white;
    background: #5882FA;
    padding: 5px;
    width: 100%;
    display: block;
  }

  nav > h1 {
    font-size: 35px;
  }

  h2 {

  }

  footer {
    padding: 5px;
    border-top: 5px solid black;
  }

  a {
    text-decoration: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  nav > h1 {
    float: left;
  }

  nav > ul {
    float: right;
  }

  nav > ul > li {
    border-left: 1px solid black;
    float: left;
  }

  nav > ul > li > a {
    padding: 10px;
    display: block;
    color: white;
  }

  nav > ul > li > a:hover {
    background: #ccc;
  }

  #app-container {
    position: relative;
  }

  #app-container:after {
    content: "";
    display: block;
    clear: both;
  }

  #sidebar {
    padding: 10px;
    width: 200px;
    float: left;
    border-right: 5px solid black;
    min-height: 250px;
  }

  #content {
    padding: 10px 0 0 30px;
    float:left;
  }

  .footer-copy {
    float: right;
  }



</style>