<h2>New Post</h2>
<form id='post-form'>
  <label for='post-title'>Title</label>
  <br>
    <input type='text' name='post[title]' id='post-title'>
  <br>

  <label for='post-body'>Body</label>
  <br>
    <textarea name='post[body]'></textarea>
  <br>

  <button class='new-button'>Submit</button>
</form>