<h2>All Posts</h2>

<ul>
  <% posts.forEach(function (post) { %>
    <li class='group'>
      <a href='#/posts/<%= post.escape("id")%>' class='post-link'><%= post.escape('title') %></a>
      <button data-id='<%= post.escape('id') %>'
        class='delete-button'>Delete</button>
    </li>
  <% }) %>
</ul>